{% extends 'mysite/index.html' %}

{% block title %}<title>Blog | Django lessons</title>{% endblock %}


{% block sidebar %}

    <div class="list-group">
        <p class="list-group-item list-group-item-info"><b>Recent publications</b></p>
        {% for article in articles %}
            <a href="{% url 'article' article.pk %}" class="list-group-item">{{ article.title_article }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
   {% for article in blog_page %}
        {% if article.active_article %}
            <h2><a href="{% url 'article' article.pk %}">{{ article.title_article }}</a></h2>
            <p>{{ article.description_article|truncatechars:500}}</p>
            <a href="{% url 'article' article.pk %}" class="btn btn-default">More &raquo;</a>
        {% endif %}
   {% endfor %}

{% endblock %}