{% extends 'mysite/index.html' %}

{% block title %}<title>Blog | Django lessons</title>{% endblock %}


{% block sidebar %}

    <div class="list-group">
        <p class="list-group-item list-group-item-info"><b>Recent publications</b></p>
        {% for article in articles %}
            <a href="{% url 'article' article.pk %}" class="list-group-item">{{ article.title_article }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    {% for article in blog_page %}
        {% if article.active_article %}
            <div class="container-fluid">
            <h2><a class="no-deco" href="{% url 'article' article.pk %}">{{ article.title_article }}</a></h2>
            <p>{{ article.description_article|safe|truncatechars:500}}</p>
            <a href="{% url 'article' article.pk %}" class="btn btn-default">More &raquo;</a>
            </div>
        {% endif %}
    {% endfor %}

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            {% if blog_page.has_previous %}
                <a href="?page={{ blog_page.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            {% endif %}
            {% for number in paginator_count %}
                <li><a href="?page={{ number }}">{{ number }}</a>{{ blog_page.num_pages }}</li>
            {% endfor %}
        {% if blog_page.has_next %}
            <li>
                <a href="?page={{ blog_page.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
