{% extends 'mysite/index.html' %}

{% block title %}<title>Contacts | Django lessons</title>{% endblock %}


{% block sidebar %}
    <div class="list-group">
        <p class="list-group-item list-group-item-success"><b>Test form</b></p>
        <div class="list-group-item">
            <form method="post" action="{% url 'contacts' %}">{% csrf_token %}
                {% for fields in form %}
                    {% if forloop.first %}
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                {{ fields }}
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                {{ fields }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if values_form %}
        <blockquote>
        Dear <mark>{{ values_form }}</mark>, thanks, but the form does not send anywhere yet
        </blockquote>

    {% endif %}
   {% for article in contact_page %}
        {% if article.active_article %}
            <p>{{ article.description_article}}</p>
        {% endif %}
   {% endfor %}

{% endblock %}