{% extends 'mysite/index.html' %}

{% block title %}<title>Contacts | Django lessons</title>{% endblock %}

{% block list_menu_drop %}
    {% for category in cat_pro %}
        <li><a href="#">{{ category.title_cat }}</a></li>
    {% endfor %}
{% endblock %}

{% block sidebar %}

    <div class="list-group">
        <p class="list-group-item list-group-item-success"><b>Then when it's a form</b></p>
        <p class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea excepturi quam quibusdam. Aliquam amet animi, blanditiis consectetur, cumque eaque earum expedita fuga incidunt iusto mollitia nemo possimus quam quos repellat!</p>
    </div>
{% endblock %}

{% block content %}
   {% for article in contact_page %}
        {% if article.active_article %}
            <p>{{ article.description_article}}</p>
        {% endif %}
   {% endfor %}

{% endblock %}