{% extends 'mysite/index.html' %}

{% block title %}<title> Home | Django lessons</title>{% endblock %}

{% block sidebar %}

    <div class="list-group">
        <p class="list-group-item list-group-item-warning"><b>Category products</b></p>
        {% for category in cat_pro %}
            <a href="{% url 'products' category.title_cat %}" class="list-group-item">{{ category.title_cat }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
   {% for article in home_page %}
        {% if article.active_article %}
            <p>{{ article.description_article }}</p>
        {% endif %}
   {% endfor %}

{% endblock %}