{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{#    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>#}
{#    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>#}
{% block title %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><span class="glyphicon glyphicon-off"></span> Django lessons</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'base_category' %}">Catalog</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contacts' %}">Contacts</a></li>

        </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#logIn" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="logIn" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">User authorization form</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" placeholder="Username or email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div class="modal-footer bg-success text-danger">
                <b>The login form does not work!</b>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% block sidebar %}
            {% endblock %}
        </div>
        <div class="col-md-9">
        <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% block breadcrumbs %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{#<div class="container-fluid bottom">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-lg-3 col-md-3 col-sm-6 col-ex-12">#}
{#                <h4>Section</h4>#}
{#                {% block section_site %}#}
{#                {% endblock %}#}
{#            </div>#}
{#            <div class="col-lg-3 col-md-3 col-sm-6 col-ex-12">#}
{#                <h4>Category catalog</h4>#}
{#                {% block section_catalog %}#}
{#                {% endblock %}#}
{#            </div>#}
{#            <div class="col-lg-3 col-md-3 col-sm-6 col-ex-12">#}
{#                <h4>Last article blog</h4>#}
{#                {% block blog_article %}#}
{#                {% endblock %}#}
{#            </div>#}
{#            <div class="col-lg-3 col-md-3 col-sm-6 col-ex-12">#}
{#                <h4>Contacts</h4>#}
{#                {% block contacts %}#}
{#                {% endblock %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
</body>
</html>