{% extends 'mysite/index.html' %}

{% load staticfiles %}

{% block title %}<title>{{ product.title_pro }} - {{ category }}| Django lessons</title>{% endblock %}

{% block sidebar %}

    <div class="list-group">
        <p class="list-group-item list-group-item-danger"><b>Filter form does not work!</b></p>
        <p class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consectetur distinctio impedit, incidunt ipsam itaque reprehenderit sint tempore totam voluptate. Amet hic labore magnam molestiae nihil, quae quos sint totam!</p>
    </div>
{% endblock %}

{% block content %}
    <h2>{{ product.manufactures_pro }} {{ product.title_pro }}</h2>
    <p class="small">Code: {{ product.code_pro }}</p>
    {% if product.image_pro %}
        <img src="{{ MEDIA_URL }}{{ product.image_pro }}" alt="{{ product.title_pro }}
    {% else %}
        <img src="{% static 'image/noimagefound.jpg' %}" alt="{{ product.title_pro }}">
    {% endif %}
    <p>{{ product.descriptions_pro }}</p>

{% endblock %}